<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Facilities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">The college provides the facility of well equipped and furnished library and reading room to the students to update their knowledge.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Big play ground for students to carry out sports activities.
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Separate drinking cool water with Aqua Guard and Reverse Osmosis Plant (ROP)
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Availability of hygienic food in canteen.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Our college shares the girls room with other sister institution which can be used by the girls in free time at their proposal.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Freeship are granted to students having good academic record and belonging to poor financial status.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Hostel facility for girls.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Activities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                       
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Seminar
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                       
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Conference
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Work shop
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Guest Lectures
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Awareness Programmes
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Various Days Celebration
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Abundant Competitions
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Industrial Visits
                                        </span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Field Visits
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Group Discussions
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Film Screening
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Sports Events
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>