<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From Principal's desk</h2>
                    <h5>Dr. Jigneshkumar Patel
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>I am proud of being the Principal of such a wonderful institution dedicated to the causes of better India. Our college has the privilege to have healthy and harmonious ambience and the credit goes to the blessing of our elite college management and the diligence put in by learned teachers.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>Empowerment of students for their  development through education is our main AIM. Today’s education not only about persuing knowledge but it is also acquisition of knowledge with skills, building character and improving employability of our youth talent, the future leadership. Measures initiated by the Hon. Management, steps taken by the college administration, the willing contribution of the teaching and non-teaching staff and over whelming response and enthusiastic participation of my dear students in the college activates in the recent past.It is the age of cut throat competition. Apart from being adept in the field of studies, one needs to have the holistic development of person here.</p>
                    <p> I wish the students turn out to be the best citizens endowed with humanistic values after getting formally instructed from this institution and would open new horizons of development and bliss for your country.

                        My good wishes to all.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>